fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.7.4
python-dotenv==1.0.1
groq==0.31.1
langchain==0.3.27
langchain-groq==0.3.7
gradio==4.44.0
langchain-community==0.3.27
sentence-transformers==5.1.0
faiss-cpu==1.12.0
arxiv==2.2.0
pymupdf==1.26.4
